// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: #EC8F48;
  font-family: 'Dosis', sans-serif;
  // font-family: 'Amatic SC', cursive;
}
nav h1, h2{
  font-family: 'Codystar', cursive;
}
h1 {
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 10px;

}
h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;

}
#border {
  border-top: 1px solid black;
  width: 20%;
  margin: 0 auto;

}
nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  color: white;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 30px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  border-top: 1px white dotted;
  border-bottom: 1px white dotted;
  padding: 3px;
}
nav a:hover {
  color: black;
}
.post a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
  height: 80px;
}
ul li{
  display: inline-block;
}

textarea {
  border: 3px solid #cccccc;
  border-radius: 4px;

}

#wrapper {
  width: 900px;
  margin: 0 auto;
  background: #FFB175;
  padding: 60px;
  border-radius: 10px;
  margin-top: 30px;
}
.post {
  background: #FFEBD6;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  word-break: wrap;
  padding: 10px;
  margin-bottom: 5px;

}
.comment {
  background: #FFEBD6;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  word-break: wrap;
  padding: 10px;
  margin-bottom: 50px;
}
#by {
  font-size: 13px;
}
.new_post {
  text-align: center;
  // display: inline-block;
  // width: 600px;

}

.form {
  // margin-top: -28px;
}
input[type="password"] {
  border: 2px solid #cccccc;
  border-radius: 2px;
}
input[type="text"] {
  border: 2px solid #cccccc;
  border-radius: 2px;
}

input[type="password"]:focus{
  outline-color: #DE701B;
}

input[type="text"]:focus{
  outline-color: #DE701B;
}
input[type="submit"]:active {
  background-color: #EC8F48;
  border-radius: 4px;
}
input[type="submit"]:focus {
  outline: none;
}

.flash {
  background-color: grey;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  left: 0;
  right: 0;
  
}
.new_user {
  // padding: 20px;
  // margin: 0 auto;
  // width: 1050px;
}

.new_user input {
  padding: 5px;
}
.edit_user {
  width: 1000px
}
.edit_user input {
  padding: 5px;
}

#submit_button {
  margin: 0 auto;
  padding: 0;
}
#wrapper_large {
  width: 1032px;
  margin: 0 auto;
  background: #FFB175;
  padding: 60px;
  border-radius: 10px;
  margin-top: 30px;
}


#readmore{
  color: #EC8F48;
}






