// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: #FFB175;
}
nav {
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
}
.clear {
  clear: both;
  height: 80px;
}
ul li{
  display: inline;
  padding: 20px;
}
