// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#names {  
  margin-right: auto;
  /*border: 1px black solid;*/
  text-align: right;
  padding: 5px;
  color: white;
 /* border: thin solid black;*/
  background-color: #ffc966;
  border-radius: 10px;
  text-align: center;

}

.new_post {
  margin-bottom: 20px;
}

input[type="submit"] {
    width: 50px;
}

#body {
  width: 30%;
  margin-top: 20px;
}

  #delete {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    background-color: #ff4c4c;
    border-radius: 10px;
    padding: 5px;
    color: white;
  }


.profile {
  float: right;
  margin-left: 50px;
  }
